.header {
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;

    .nav-container {
      display: flex;
      justify-content: space-between;
    }

    .header-title {
      font-weight: 500;
      font-size: 25px;
      padding: 20px 0;
      color: #424242;
      &:hover {
        color: $color-midblue;
        text-decoration: none;
      }
    }

    .left-nav {
      display: flex;
    }
}

header.fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
