.blog-title {
  margin-bottom: 50px;
  border-bottom: 2px solid $color-midblue;
  padding-bottom: 5px;
}
  .post-preview-box {
    display: block;
    background: #fff;


    margin-bottom: 50px;
    padding: 20px 20px 40px 20px;

    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    &:hover {
      text-decoration: none;
      h3 {
        color: inherit;
      }
    }

    h3 {
      color: #424242;
      margin-top: 10px;
    }

    time {
      color: #9E9E9E;
    }
  }

  .post-preview-box2 {

  }


.gray-bg {
  background: #f5f5f5;
}
