---
layout: default
---

<div class="warp">

    <div class="container main">
        <nav>
            <ul>
                {% for post in site.posts %}
                  <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="content">
            <article class="post">
                {{content}}
            </article>
            <amp-iframe width=600 height=140
                layout="responsive"
                sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
                resizable
                src="https://iampaul83.github.io/disqus.html#{{ site.url }}{{ site.baseurl }}{{ post.url }} ">
            </amp-iframe>
        </div>
    </div>

    {% include footer.html %}
</div>
